In [1]:
import pandas as pd

In [8]:
sözlük = {"Fakülte":["Makine M.","Makine M.","Endüstri M.",
                    "Endüstri M.", "Mekatronik M."], 
          "Öğrenci Sayısı": [1500, 1200, 500, 250, 300]}

In [9]:
tablo = pd.DataFrame(sözlük)
tablo

         Fakülte  Öğrenci Sayısı
0      Makine M.            1500
1      Makine M.            1200
2    Endüstri M.             500
3    Endüstri M.             250
4  Mekatronik M.             300

In [15]:
fakülte = tablo.groupby("Fakülte")

In [16]:
fakülte.count()

               Öğrenci Sayısı
Fakülte
Endüstri M.                 2
Makine M.                   2
Mekatronik M.               1

In [17]:
fakülte.mean()

               Öğrenci Sayısı
Fakülte
Endüstri M.               375
Makine M.                1350
Mekatronik M.             300

In [18]:
fakülte.min()

               Öğrenci Sayısı
Fakülte
Endüstri M.               250
Makine M.                1200
Mekatronik M.             300

In [19]:
fakülte.max()

               Öğrenci Sayısı
Fakülte
Endüstri M.               500
Makine M.                1500
Mekatronik M.             300

In [20]:
fakülte.describe()

              Öğrenci Sayısı                                              \
                       count    mean         std     min     25%     50%
Fakülte
Endüstri M.              2.0   375.0  176.776695   250.0   312.5   375.0
Makine M.                2.0  1350.0  212.132034  1200.0  1275.0  1350.0
Mekatronik M.            1.0   300.0         NaN   300.0   300.0   300.0


                  75%     max
Fakülte
Endüstri M.     437.5   500.0
Makine M.      1425.0  1500.0
Mekatronik M.   300.0   300.0