In [1]:
import pandas as pd
import numpy as np

In [6]:
data = np.random.rand(3,3)*10
data = data.round()
data

array([[6., 7., 5.],
       [9., 5., 9.],
       [2., 2., 5.]])

In [7]:
pd.DataFrame(data)

     0    1    2
0  6.0  7.0  5.0
1  9.0  5.0  9.0
2  2.0  2.0  5.0

In [8]:
idx = ["A","B","C"]
col = ["X","Y","Z"]

In [9]:
tablo = pd.DataFrame(data, index = idx, columns = col)
tablo

     X    Y    Z
A  6.0  7.0  5.0
B  9.0  5.0  9.0
C  2.0  2.0  5.0

In [10]:
# reset_index()

In [11]:
tablo.reset_index()

  index    X    Y    Z
0     A  6.0  7.0  5.0
1     B  9.0  5.0  9.0
2     C  2.0  2.0  5.0

In [12]:
idx2 = ["AA","BB","CC"]

In [13]:
tablo["T"] = idx2
tablo

     X    Y    Z   T
A  6.0  7.0  5.0  AA
B  9.0  5.0  9.0  BB
C  2.0  2.0  5.0  CC

In [14]:
# set_index()

In [18]:
tablo = tablo.set_index("T")

In [19]:
# loc: location
# iloc: index location

In [20]:
tablo

      X    Y    Z
T
AA  6.0  7.0  5.0
BB  9.0  5.0  9.0
CC  2.0  2.0  5.0

In [25]:
c = tablo.loc[["CC"]]

In [24]:
tablo.iloc[[1]]

      X    Y    Z
T
BB  9.0  5.0  9.0