In [1]:
import pandas as pd

In [3]:
söz1 = {"A": ["a","b","c","d"],
        "B": ["x","y","z","t"]}

In [4]:
tablo1 = pd.DataFrame(söz1)
tablo1

   A  B
0  a  x
1  b  y
2  c  z
3  d  t

In [5]:
söz2 = {"A": ["a","b","c","d"],
        "C": ["e","f","g","h"]}
tablo2 = pd.DataFrame(söz2)
tablo2

   A  C
0  a  e
1  b  f
2  c  g
3  d  h

In [6]:
tablo_m = pd.merge(tablo1,tablo2, on = "A")
tablo_m

   A  B  C
0  a  x  e
1  b  y  f
2  c  z  g
3  d  t  h