In [1]:
import pandas as pd
import numpy as np

In [2]:
idx1 = ["A","A","A","B","B","B"]
idx2 = ["a","b","c","d","e","f"]

In [3]:
idx_m = list(zip(idx1, idx2))
idx_m

[('A', 'a'), ('A', 'b'), ('A', 'c'), ('B', 'd'), ('B', 'e'), ('B', 'f')]

In [4]:
idx_m = pd.MultiIndex.from_tuples(idx_m)

In [5]:
idx_m

MultiIndex([('A', 'a'),
            ('A', 'b'),
            ('A', 'c'),
            ('B', 'd'),
            ('B', 'e'),
            ('B', 'f')],
           )

In [6]:
liste = [[1,10],[2,20],[3,30],[4,40],[5,50],[6,60]]

In [7]:
dizi = np.array(liste)

In [8]:
dizi

array([[ 1, 10],
       [ 2, 20],
       [ 3, 30],
       [ 4, 40],
       [ 5, 50],
       [ 6, 60]])

In [9]:
tablo = pd.DataFrame(dizi, index = idx_m, columns = ["x","10x"])
tablo

     x  10x
A a  1   10
  b  2   20
  c  3   30
B d  4   40
  e  5   50
  f  6   60

In [10]:
tablo.loc["A"].loc["b"]

x       2
10x    20
Name: b, dtype: int32