In [1]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_excel("filmler.xlsx")
data.head()

,FİLM,SENARYO,OYUNCU,YARDIMCI O.,KURGU,GÖRSEL,KOSTÜM,MAKYAJ,MÜZİK,YÖNETMEN,EN İYİ FİLM,ADAYLIK,KAZANDI,PUAN
0,SUSPIRIA (2018),K,NaN,K,A,K,A,K,K,A,A,9,5,8.0
1,TAXI DRIVER,A,K,NaN,A,A,NaN,NaN,NaN,A,A,6,1,7.5
2,THE GENTLEMEN,NaN,NaN,NaN,A,NaN,A,NaN,NaN,NaN,NaN,2,0,7.0
3,PARASITE,K,A,A,K,K,A,A,A,K,K,10,5,8.5
4,KNIVES OUT,A,A,NaN,A,A,K,A,NaN,NaN,A,7,1,8.0

In [6]:
# Tekrar eden puanları görmek istemiyorz!

data["PUAN"].unique()

array([8. , 7.5, 7. , 8.5, 6. , 6.5, 5. , 9. , 8.8])

In [7]:
# Hangi puan kaç defa verilmiş?

data["PUAN"].value_counts()

7.5    18
7.0    17
8.0     5
6.5     4
8.5     4
6.0     3
8.8     1
9.0     1
5.0     1
Name: PUAN, dtype: int64

In [8]:
def besli_puan_sistemi(puan):
    return puan/2

In [9]:
data["PUAN"].head()

0    8.0
1    7.5
2    7.0
3    8.5
4    8.0
Name: PUAN, dtype: float64

In [10]:
data["PUAN"].apply(besli_puan_sistemi)

0     4.00
1     3.75
2     3.50
3     4.25
4     4.00
5     3.75
6     3.00
7     3.75
8     3.50
9     3.75
10    3.75
11    3.25
12    3.50
13    3.75
14    3.50
15    3.75
16    4.25
17    2.50
18    3.75
19    4.25
20    4.25
21    3.75
22    3.50
23    3.50
24    3.50
25    3.50
26    3.50
27    3.50
28    3.25
29    3.75
30    3.00
31    3.75
32    3.50
33    3.00
34    3.25
35    4.00
36    4.50
37    4.40
38    3.75
39    3.75
40    3.75
41    3.75
42    3.50
43    3.50
44    3.50
45    3.25
46    3.50
47    3.50
48    4.00
49    3.75
50    3.75
51    3.75
52    4.00
53    3.50
Name: PUAN, dtype: float64