In [3]:
import pandas as pd
import numpy as np

In [2]:
# dataframe = pd.DataFrame(data)

In [8]:
data = np.random.rand(5,4)*10

In [9]:
data

array([[5.24424896, 0.83507664, 3.06764123, 2.44584829],
       [2.65618403, 7.47121861, 2.904808  , 1.16421297],
       [4.33812697, 2.1356917 , 4.99807051, 9.91070601],
       [0.31293618, 0.31696897, 5.08634787, 9.59920864],
       [3.12843724, 0.23308879, 4.49765414, 1.65425205]])

In [10]:
dataframe = pd.DataFrame(data)
dataframe

          0         1         2         3
0  5.244249  0.835077  3.067641  2.445848
1  2.656184  7.471219  2.904808  1.164213
2  4.338127  2.135692  4.998071  9.910706
3  0.312936  0.316969  5.086348  9.599209
4  3.128437  0.233089  4.497654  1.654252

In [13]:
idx = ("A","B","C","D","E")
col = ("X","Y","Z","T")

In [14]:
dataframe2 = pd.DataFrame(data, index = idx, columns = col)
dataframe2

          X         Y         Z         T
A  5.244249  0.835077  3.067641  2.445848
B  2.656184  7.471219  2.904808  1.164213
C  4.338127  2.135692  4.998071  9.910706
D  0.312936  0.316969  5.086348  9.599209
E  3.128437  0.233089  4.497654  1.654252

In [15]:
dataframe2["Z"]

A    3.067641
B    2.904808
C    4.998071
D    5.086348
E    4.497654
Name: Z, dtype: float64

In [16]:
dataframe2[["Z","X"]]

KeyError: ('Z', 'X')